#teamPoint{
  text-align: center;
}
.game{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.game__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game__button{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 20rem;
    height : 20rem;
    border-radius: 100%;
    background-color: black;

}
a{
  z-index : 1000;
}
.button{
    width: 80%;
    height: 80%;
    display: block;
    margin-top: -20px;
    border-radius:100%;
    text-align:center;
    text-decoration:none;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ecf0f1;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.88);
    cursor: pointer;
    z-index: 1000;
  }
  
  .button:active{
    position:relative;
    top:20px;
  }
  .red{
    box-shadow: 0px 28px #c0392b;
    background: #e74c3c;
  }
  .red:active{
    box-shadow: 0px 0px #c0392b;
    background: #c0392b;
  }
  .blue{
    background: #3498db;
    box-shadow: 0px 28px #2980b9;
  }
  .blue:active{
    background: #2980b9;
    box-shadow: 0px 0px #2980b9;
  }
  
  .green{
    box-shadow: 0px 28px #27ae60;
    background: #2ecc71;
  }
  .green:active{
    box-shadow: 0px 0px #23A33D;
    background: #23A33D;
  }

.start__game{
  animation-name: bounce-4, example;
  animation-duration: 4s;
  transition-timing-function: ease-out;
}
.start__game {
  animation-name: bounce-4;
  animation-timing-function: ease;
}

.game__wrapperPoints{
  margin-top: 30px;
  text-align: center;
}
/* The animation code */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
@keyframes bounce-4 {
  0%   { transform: scale(1,1)    translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1) translateY(-70px); }
  50%  { transform: scale(1,1)    translateY(0); }
  100% { transform: scale(1,1)    translateY(0); }
}

@keyframes Equipo_Rojo{  
  0%{
    background-color: #e74c3c;
  }
  70%{
    background-color: #e74c3c;
  }
  100%{
    background-color: #E4E4E4;
  }
}
@keyframes Equipo_Verde{
  0%{
    background-color: #2ecc71;
  }
  70%{
    background-color: #2ecc71;
  }
  100%{
    background: #E4E4E4;
  }
  
}
@keyframes Equipo_Azul{
  0%{
    background-color: #3498db;
  }
  70%{
    background-color:#3498db;
  }
  100%{
    background-color: #E4E4E4;
  }
  
}

 @keyframes bang {
   from {
     transform: translate3d(0,0,0);
     opacity: 1;
   }
 }
 canvas {
  position: absolute;
  top : 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}