html,body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  /*body {
    animation: 17000ms ease-in-out infinite color-change;
    font-family: 'Montserrat', sans-serif;
  }*/
  
