html,body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  body {
    /*animation: 17000ms ease-in-out infinite color-change;*/
    font-family: 'Montserrat', sans-serif;
  }
  
/*ADD RESPONSIVENESS TO THE LOGINS*/
@media (max-width : 800px){
  #home__wrapper, #login__moderadorWrapper, #login__jugadorWrapper{
    width: auto !important;
    margin : 4%;
  }

}