
input{
	margin-bottom: 15px;
	font-size: 1.25em;
	height: 1.4em;
	width: 13em;
}
select{
	margin-bottom: 15px;
	font-size: 1.25em;
	width: 13em;
}
.login__jugador{
	text-align: center;
}
h1{
	text-shadow: 0px 4px 3px rgb(0,0,0,0.4), 0px 8px 13px rgb(0,0,0,0.1), 0px 18px 23px rgb(0,0,0,0.1);
}
.btn {
  margin-top: 15px;
  text-shadow: 0px;
  font-size: 1.5em; 
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.1);
  border: none;
  width: 11.2em;
}

#login__jugadorWrapper {
	width: 700px;
	padding: 4%;
	background-color:rgba(255,255,255,0.5);
	box-shadow: 0 0 3px rgb(0, 0, 0, 0.1);
	animation: splashscreen 1000ms;
}

